<!-- profil.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
    <h2>Profil</h2>
    <p>Korisničko ime: {{ user.username }}</p>
    <p>Ime: {{ user.first_name }}</p>
    <p>Prezime: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Datum pridruživanja: {{ user.date_joined }}</p>
    <a href="http://localhost:3000/">Natrag na početnu</a>
</body>
</html>
